<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersonelKayıtSistemi.Properties.Settings.PersonelVeriTabaniConnectionString" connectionString="Data Source=DESKTOP-I4SJL3S\SQLEXPRESS;Initial Catalog=PersonelVeriTabani;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="PersonelKayıtSistemi.Properties.Settings.PersonelVeriTabaniMelihPC" connectionString="Data Source=MELIH;Initial Catalog=PersonelVeriTabani;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
